
    
    body {
        
        text-align: center;
        margin: 20px 0 0 0;
        font-size: 1.00em;
        font-weight: normal;
    }
    {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Allerta Stencil', sans-serif;
}




